@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&display=swap');
@page { margin: 0mm; size: A4 portrait; }
  *{margin: 0; padding: 0}
  body{word-spacing: -1px; color: darkslategrey; font-family: 'Rubik', sans-serif;background-color: honeydew;}
  .page{background-color: white;}
  h1, h2, h3{font-weight: 300;}
  hr{margin: 30px 0; height: 0; border-top: 5px solid darkslategrey;}
  p{margin-bottom: 10px;}
  a:visited{color: blue;}
  h2{margin: 50px 0 20px 0; font-size: 2em; line-height: 100%;}
  h3{margin: 30px 0 10px 0; font-size: 1.4em; line-height: 100%;}
  ul, ol{list-style-position: inside;}
  em{font-size: 1.4em; font-weight: bold;}
  small{font-size: 0.8em;}
  .cartes{display: flex; flex-wrap: wrap; justify-content: space-around; align-content: space-between; height: 95%;}
  .verso{flex-direction: row-reverse;}
  .carte{padding:5mm; width: 80mm; height: 50mm; border-radius: 5px; border: 1px solid darkslategrey; background-color: white; font-size:10px; line-height: 130%; position: relative;}
  .carte p span {margin:0 5px 0 0; display: inline-block; width:13mm; text-align: right;}
  .axe{font-size: 24px; line-height: 120%;}
  .ds{position: absolute; bottom: 0; font-size: 12px;}
  .odds{color: white; font-size: 16px; display: flex; position: absolute; bottom: 0; width: 90%; justify-content: space-between; font-size: 10px; text-align: center;}
  .odd{padding-top: 12mm; height: 6mm; width: 3.5mm;}
  .odd1 {
     background-color: rgb(229, 36, 59);
   }

   .odd2 {
     background-color: rgb(221, 166, 58);
   }

   .odd3 {
     background-color: rgb(76, 159, 56);
   }

   .odd4 {
     background-color: rgb(197, 25, 45);
   }

   .odd5 {
     background-color: rgb(255, 58, 33);
   }

   .odd6 {
     background-color: rgb(38, 189, 226);
   }

   .odd7 {
     background-color: rgb(252, 195, 11);
   }

   .odd8 {
     background-color: rgb(162, 25, 66);
   }

   .odd9 {
     background-color: rgb(253, 105, 37);
   }

   .odd10 {
     background-color: rgb(225, 20, 132);
   }

   .odd11 {
     background-color: rgb(249, 157, 38);
   }

   .odd12 {
     background-color: rgb(207, 141, 42);
   }

   .odd13 {
     background-color: rgb(72, 119, 62);
   }

   .odd14 {
     background-color: rgb(0, 125, 188);
   }

   .odd15 {
     background-color: rgb(62, 176, 73);
   }

   .odd16 {
     background-color: rgb(0, 85, 138);
   }
   .odd17 {
     background-color: rgb(0, 127, 173);
   }

  /* MEDIA QUERIES --- pour une lecture mobile!  */
@media only screen and (max-width: 599px) {
.page{margin: 0 auto; padding: 10px; overflow: hidden; font-size: 16px; line-height: 130%;}
h1{font-size: 52px; line-height: 90%;}
}
@media print, screen and (min-width: 600px) {
.page{margin: 0 auto; padding: 10mm; width: 210mm; height: 297mm; overflow: hidden; page-break-after: always; border: 1px solid honeydew; font-size: 20px; line-height: 130%; }
h1{margin-bottom: 30px; font-size: 140px; line-height: 90%;}

}
