 @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,600;1,300&display=swap');

 * {
  margin: 0;
  padding: 0;
}

body {
  padding: 10px 10px 50px 10px;
  font-family: 'Rubik', sans-serif;
  color: darkslategrey;
  font-weight: 300;
}

a, a:visited{color:darkslategrey;}

header,
section {
  margin: 50px auto;
  max-width: 500px;
}

header {
  margin-bottom: 30px;
  align-items: flex-end;
}

nav{font-size: 16px; text-align: right;}

h1 {
  margin-top:50px;
  font-size: 1.6em;
}

p {
  margin-bottom: 15px;
}

h2 {
  margin: 50px 0 10px 0;
  font-size: 1.2em;
}

h3 {
  margin: 20px 0 10px 0;
  font-size: 1.2em;
  font-weight: 300;
}
ul{line-height: 120%;}
ul li {
  list-style-type: disc;
  margin-bottom: 15px;
  list-style-position: inside;
}

.annonce p{background-color: honeydew; padding: 10px; font-size: 16px; line-height: 140%;}

em{font-style: normal; font-weight: 600;}

@media only screen and (max-width: 599px) {
  body {
    font-size: 1em;
    line-height: 1.4em;
  }
  .pitch{
    font-size: 1em;
    line-height: 1.4em;

  }
}

@media print,
screen and (min-width: 600px) {
  body {
    font-size: 1em;
    line-height: 1.6em;
  }
  .pitch{
    font-size: 1.2em;
    line-height: 1.6em;

  }

}
